* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: green;
}

header {
  background-color: blue;
  height: 30%;
  width: 100%;
}

main {
  background-color: pink;
  height: 60%;
  width: 100%;
}

footer {
  background-color: red;
  height: 10%;
  width: 100%;
}
