* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 1440px;
  max-height: 1920px;
  border: 1px solid lightgrey;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 12px;
}

/* 
------
Header
------
 */

header {
  border: 1px solid lightgrey;
  height: 40%;
  width: 100%;
}

/* Profile */

.profile {
  height: 70%;
  width: 100%;
}

.profile > .profile-img {
  height: 70%;
  width: 150px;
}

.profile > .profile-img > img {
  height: 100%;
  width: 100%;
  border-radius: 18px;
}

.profile > .profile-name {
  margin-top: 7px;
  height: 10%;
  color: #4e5150;
}

.profile > .profile-location {
  height: 10%;
  color: #a9a9a9;
  font-size: 10px;
}

/* Stats */

.stats {
  border: 1px solid lightgrey;
  height: 30%;
  width: 100%;
}

main {
  border: 1px solid lightgrey;
  height: 50%;
  width: 100%;
}

footer {
  border: 1px solid lightgrey;
  height: 10%;
  width: 100%;
}

/* 
-------------
Media queries
-------------
 */

@media (min-width: 768px) {
  .profile > .profile-img {
    width: 200px;
  }
}
